<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <!-- Use this config if you want to install from S3 repository instead of nuget -->
      <!-- <add key="KaikoSdk" value="https://s3.us-east-2.wasabisys.com/kaiko-sdk/csharp-sdk/index.json" /> -->
  </packageSources>
</configuration>
