[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "==1.41.1"
grpcio-tools = "==1.41.1"
kaikosdk = "==1.0.5"
protobuf = "==3.15.8"

[dev-packages]

[requires]
python_version = "3.9"
