[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "==1.59.0"
grpcio-tools = "==1.59.0"
kaikosdk = "==1.14.1"
protobuf = "==4.21.12"
retrying = "===1.3.3" # optional dependency for demonstrating resubscribe

[dev-packages]

[requires]
python_version = "3.11"
